ul{
    margin-bottom: 0;
}
ul li{
    display: flex;
    justify-content: space-between;
    margin-top: 10px !important;
    border-bottom: 1px solid #dee2e6;
    padding: 10px 15px;
}
ul li:last-child{
    border-bottom: none;
}
ul li p{
    margin-bottom: 0;
}
span i {
    cursor: pointer;
}
.todo-left{
    display: flex;
    align-items: center;
}
.todo-list{
    margin-left: 10px;
}
.todo-right{
    display: flex;
    align-items: center;
}